{% extends 'index.html' %}

{% block title %}{{title}}{% endblock %}

{% block body %} 

<div class="page">
    
    <div class="board">
        <h1>Let's play Boggle</h1>
        <table>
            <tbody>
                {% for row in session['board'] %} 
                    <tr>
                        {% for cell in row %} 
                        <td>{{cell}}</td>                    
                        {% endfor%}
                    </tr>        
                {% endfor %}        
            </tbody>
        </table>
        
        <form method="POST" class="show">
            <label for="word">Enter a word</label>
            <input type="text" name="word" id="word">
            <button type="submit">Submit</button>
        </form>
        <div id="result" class="show"></div>
    </div>
    <div class="stats">
        <h1>Statistics</h1>
        <div class="statistic" id="score"></div>
        <div class="statistic" id="games">Games played: {{games}}</div>
        <div class="statistic" id="high_score">High score: {{high_score}}</div>
        <h1  id="time_left"></h1>
    </div>

    
</div>


{% endblock %}
    
